" Main Configurations

"search
set incsearch ignorecase smartcase nohlsearch
set wildmode=longest,list,full wildmenu
"hidden buffer
set hidden
"general
set ruler laststatus=2 showcmd showmode
set wrap breakindent
set encoding=utf-8
set textwidth=0
set noswapfile
set nobackup
set nowritebackup
set cmdheight=1
set undodir=~/.vim/undodir
set undofile
set scrolloff=8

set title

set clipboard+=unnamedplus


set relativenumber number

set visualbell
set noerrorbells

nnoremap Y y$
nnoremap n nzzzv
nnoremap N Nzzzv
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
